<!--
    Login.cshtml
    This file is a part of Nimbus. Copyright (c) 2017-present Jesse Jones.
-->

@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Nimbus.Shared.Title - Admin Panel</title>
</head>
<body>
    <div class="titlebar">
        <div class="title">@Nimbus.Shared.Title - Admin Login</div>
    </div>
    <div class="login-box">
        Password:<br/>
        <input type="password" id="Password" /><br/>
        <button id="LoginButton">Login</button><br/>
        <br/><br/>
        <p id="ErrorMessage"></p>
    </div>
</body>

<footer>
    <link rel="stylesheet" href="~/css/login.css" />

    <script src="~/js/admin_login.js"></script>
</footer>
</html>
