@model Tachyon.Models.Explorer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@if (Model.CurrentDirectory != "/")
{
    <div class="file" onclick="nav('..')">
        <img src="~/images/folder.png" />
        <span class="file-info">
            ..
        </span>
    </div>
}

@foreach (string folder in Model.Folders)
{
    <div class="file" onclick="nav('@folder')">
        <img src="~/images/folder.png" />
        <span class="file-info">
            @folder
        </span>
    </div>
}

@foreach (string file in Model.Files)
{
    <a href="@Url.Action("Download", "Main")?file=@file">
        <div class="file" href="@Url.Action("Download", "Main")?file=@file">
            <img src="~/images/doc.png" />
            <span class="file-info">
                @file
            </span>
        </div>
    </a>
}
