<!--
    Index.cshtml
    This file is a part of Tachyon. Copyright (c) 2017-present Jesse Jones.
-->

@model Tachyon.Models.Main
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tachyon</title>
</head>

<body>
    <div class="titlebar">
        <div class="title">
            Test
        </div>
        <div class="item" onclick="download()">
            Download
        </div>
        <label for="FilesToUpload">
            <div class="item">
                Upload
            </div>
        </label>
        <div class="item" onclick="new_folder()">
            New Folder
        </div>
        <div class="item" onclick="delete_files()">
            Delete
        </div>
    </div>
    <div class="content" id="Explorer">
        @{
            Html.RenderPartial("Explorer", new Tachyon.Models.Explorer("/"));
        }
    </div>
    <div class="info-panel" id="InfoPanel">
        <div class="info-panel-content" id="InfoPanelContent"></div>
    </div>
    <input id="FilesToUpload" type="file" style="position: absolute; z-index: 5; right: -10000px; display: none;" multiple><br />
</body>
</html>

<footer>
    <link rel="stylesheet" href="~/css/Main.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Main.js"></script>
    <script src="~/js/Events.js"></script>
</footer>
