@model Tachyon.Models.Main

@{
    Layout = null;

    string pwd = (string)ViewData["pwd"];
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/menu.css"/>

    <meta name="viewport" content="width=device-width" />
    <title>Tachyon</title>
</head>

<body>
    <div class="infobar">
        <div class="title">
            <b>Tachyon</b>
        </div>
        <div class="username" id="username">
            <!--nothing goes here yet-->
        </div>
    </div>
    <div class="sidebar">
        <div class="item" onclick="show_upload_dialog()">
            Upload Files
        </div>
        <div class="item">
            New Folder
        </div>
        <div class="item">
            Delete
        </div>
    </div>
    <div class="content">
        <div id="Explorer">
            @{
                Html.RenderPartial("Explorer", new Tachyon.Models.Explorer("/"));
            }
        </div>
    </div>
    <div class="upload-dialog" id="UploadDialog">
        Upload files here<br />
        <br />
        <input id="FilesToUpload" type="file" multiple><br />
        <button onclick="upload_files()">Upload</button>
        <button onclick="UploadDialog.style.display = 'none'">Close</button>
    </div>
</body>
</html>

<footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Main.js"></script>
</footer>
