<!--
    Explorer.cshtml
    This file is a part of Nimbus. Copyright (c) 2017-present Jesse Jones.
-->

@model Nimbus.Models.Explorer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    byte[] pwd_temp;
    Context.Session.TryGetValue("pwd", out pwd_temp);
    string pwd = System.Text.Encoding.ASCII.GetString(pwd_temp);
}

@if (pwd != "/")
{
    <div class="file" onclick="nav('..')">
        <img src="~/images/folder.png" />
        <span class="file-info">
            ..
        </span>
    </div>
} else
{
    <div class="dummy"></div>
}

@foreach (string folder in Model.Folders)
{
    <div class="file" id="folder_@folder">
        <input type="checkbox" style="margin-left: 15px" />
        <img src="~/images/folder.png" onclick="nav('@folder')" />
        <span class="file-info" onclick="nav('@folder')">
            @folder
        </span>
    </div>
}

@foreach (string file in Model.Files)
{
    <div class="file" id="file_@file">
        <input type="checkbox" style="margin-left: 15px" />
        <img src="~/images/file.png" />
        <span class="file-info">
            @file
        </span>
    </div>
}